.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
inputs/AQM/hcaf_species_native.csv
statistics
pdfs
.RDataTmp
.dbf.dbf
.prj
*.shp
*.zip
*.shp.shx
scripts/trash
scripts/archive
outputs/archive
outputs/BOATS

